.brands {
	text-align: center;
	background-color: #e6e4ea;
	padding: 1.5rem 0;
}
.brands--hero {
	color: #fff;
	background-color: transparent;	
	margin: 0;
	padding: 0;
    width: 100%;
    text-align: center;

    position: absolute;
	bottom: 2rem;
}
.brands__title {
	display: none;
}
.brands--hero .brands__title {
	font-size: 1rem;
	margin: 0 0 .75rem;
}
.brands__title--no-title {
	display: none;
}
.brands__title--gray {
	color: #5a5665;
}

.brands__logos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.brands__logo {
	display: inline-block;
	vertical-align: middle;
	line-height: 3rem;
}

.brands__logo:last-child {
	margin-right: 0;
}
.brands__logo__image {
	max-height: 4rem;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}
.brands__logo__image--gray {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	-webkit-filter: invert(1);
	filter: invert(1);
	opacity: .4;
}
.brands__logo--american-idol .brands__logo__image--gray {
	-webkit-filter: grayscale(.5);
	filter: grayscale(.5);
	opacity: .8;
}

@media screen and (max-width: 1023px) {
	.brands__logo:nth-child(6),
	.brands__logo:nth-child(7),
	.brands__logo:nth-child(8),
	.brands__logo:nth-child(9),
	.brands__logo:nth-child(10),
	.brands__logo:nth-child(11),
	.brands__logo:nth-child(12) {display: none;}
	.brands__logo {
		margin-right: 1rem;
	}
	.brands__logo:nth-child(5) {margin-right: 0;}
}
@media screen and (min-width: 1024px) {
	.brands {
		padding: 6rem 0 8rem;
	}
	.brands--hero {
		padding: 0;
		bottom: 1.5rem;
	}
	.brands__title {
		display: block;
		font: 300 1rem 'Source Sans Pro', sans-serif;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin: 0 0 2rem;
	}
	.brands__logo {
		margin-right: 3rem;
	}
	.brands__logo__image {
		max-width: 90%;
	}
}
@media screen and (min-width: 1280px) {
	.brands--hero .brands__title {
		margin-bottom: 1.25rem;
	}
	.brands__logo {
		line-height: 4rem;
	}
}