.slider {
	display: block;
	background-color: #0f0a2b;
	text-align: center;
	padding: 2rem 0 0;
	position: relative;
	overflow: hidden;
}
.slider__list {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	max-width: 88%;
	position: relative;
	z-index: 1;
}
.slider__list::after {
	content: '';
	position: absolute;
	width: 130%; height: 130%;
	bottom: -15%; left: -15%;
	background: radial-gradient(ellipse at center, rgba(255,255,255,.5) 0%, rgba(15,10,43,.0) 70%, rgba(15,10,43,1) 100%);
	z-index: -1;
}
.slider__item {
	max-width: 100%;
	display: none;
}
.slider__image {
	max-width: 100%;
	margin-bottom: -1px;
}
.slider__item--active {
	display: block;
	animation-duration: 1.2s;
	animation-name: slide;
	animation-iteration-count: 1;
	animation-direction: alternate;
}
@keyframes slide {
  from {
  	opacity: .3;
  }
  to {
    opacity: 1;
  }
}
.slider__arrow {
	position: absolute;
	background: transparent;
	border: none;
	width: 14.25px;
	height: 25.125px;
	top: calc(50% + 1rem - 12px);
	padding: 0;
	z-index: 10;
}
.slider__arrow--left {
	left: 1%;
}
.slider__arrow--right {
	right: 1%;
}
.slider__arrow__img {
	max-width: 100%;
}

@media screen and (min-width: 512px) {
	.slider {
		padding-top: 6rem;
	}
	.slider__arrow {
		top: calc(50% + 3rem - 12px);
	}
}
@media screen and (min-width: 1024px) {
	.slider__list {
		max-width: 70%;
	}
	.slider__arrow {
		width: 28.5px;
		height: 50.25px;
		top: 50%;
	}
	.slider__arrow--left {
		left: 7%;
	}
	.slider__arrow--right {
		right: 7%;
	}
}
@media screen and (min-width: 1280px) {
	.slider {
		padding-top: 10rem;
	}
	.slider__arrow {
		width: 38px;
		height: 67px;
		top: calc(50% + 5rem - 33px);
	}
}