.team__list {
	margin: 0 auto 4rem;
	padding: 0;
	list-style: none;
	text-align: center
}
.team__item {
	display: block;
	max-width: 90%;
	font-size: 1.125rem; /* 18px */
	line-height: 1.2;
	margin: 3rem auto 5rem;
}
.team__item:first-child {
	margin-top: 0;
}
.team__pic {
	display: block;
	max-width: 100%;
	margin: auto;
}
.team__name {
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #272334;
	margin: 1rem 0 .5rem;
}
.team__role {
	display: block;
	font-weight: 300;
	color: #938e9f;
	margin-bottom: 1rem;
}
.team__desc {
	display: block;
	max-width: 30em;
	margin: auto;
	font-size: 1.2rem;
	line-height: 1.5;
}
@media screen and (min-width: 1024px) {
	.team__item {
		text-align: left;
		font-size: 1.25rem;
		overflow: hidden;
		margin: 4rem auto;
	}
	.team__pic {
		float: left;
		margin-right: 2em;
		width: 400px;
	}
	.team__info {
		float: right;
		width: calc(100% - 400px - 2em);
	}
	.team__desc {
		font-size: 1.425rem;
		line-height: 2.2875rem;
	}
}
@media screen and (min-width: 1280px) {
	.team__item {
		font-size: 1.75rem; /* 28px */
		margin: 6rem auto;
	}
}