.video-filter {
	position: relative;
	text-align: center;
	color: #fff;
	height: 263px;
	background: #dad8e5 url('../images/bg/the-right-team-small.jpg') no-repeat center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.video-filter__title {
	display: block;
	font: 800 2rem/1 "Open Sans", serif;
	text-transform: uppercase;
	margin: 1rem 0;
	letter-spacing: -1px;
	text-shadow: 0 0 3px rgba(0,0,0,.1);
}
.video-filter__subtitle {
	display: block;
	font-size: 1rem;
	line-height: 1;
	font-weight: 300;
	margin: 0;
	text-shadow: 0 0 5px rgba(0,0,0,.3);
}
.video-filter__link {
	margin: 1rem auto 0;
}

@media screen and (min-width: 600px) {
	.video-filter {
		height: 43vw; /* image ratio 43.75% */
		background-image: url('../images/bg/the-right-team.jpg');
	}
	.video-filter__title {
		font-size: 3rem;
		letter-spacing: -2px;
	}
	.video-filter__subtitle {
		font-size: 1.5rem;
	}
	.video-filter__link {
		margin-top: 2rem;
	}
}
@media screen and (min-width: 1024px) {
	.video-filter {
		background-image: url('../images/bg/the-right-team-big.jpg');
	}
	.video-filter__title {
		font-size: 4rem;
		letter-spacing: -2px;
	}
	.video-filter__subtitle {
		font-size: 1.5rem;
	}
}